* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
}

body {
    width: 100%; 
}

.otp-input {
    width : 3em !important;
    height: 65px;
    border: 0.5px solid #beb9b9;
    border-radius: 10px;
}

.otp-container {
    width : 22em;
    margin : 25px auto;
    display: flex;
    justify-content: space-between;
}

.product-detail-carousel {
    width: 100%;
    height: 500px;
    margin: 25px auto;
    border: 1px solid black;
    padding: 2px;
}

.product-detail-carousel-image {
    width: 100%;
    height: 500px;
    object-fit: cover cover;
}
